<div><%= link_to "Following", :following %></div>
<div><%= link_to "My Followers", :followers %></div>
<%= form_for @text_subject do |form|%>
  <div>.
    <%=form.text_area :body, placeholder: "compose a new shout"%>
  </div>
  
  <div>
    <%=form.submit "Shout" %>
    </div>
<% end %>

